.authInput {
  width: 400px;
  margin-bottom: 24px;
  border-color: black;
}
.authInput:last-child {
  margin-bottom: 0;
}
.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: none;
  cursor: pointer;
}
.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authTitle {
  text-align: center;
  margin-bottom: 34px;
}
.googleIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
