.loginFormContainer {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  overflow: scroll;
}

.authInput {
  margin-bottom: 24px;

  border-color: black;
}

.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: none;
  cursor: pointer;
}
.buttonsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authTitle {
  text-align: center;
  margin-bottom: 34px;
}
.googleIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}

.disabled:hover {
  background: var(--burder-color);
  color: var(--white-color);
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .loginFormContainer {
    width: 290px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
