.addFormContainer {
  position: relative;
  height: 80vh;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  overflow: scroll;
}
.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  background: none;
  cursor: pointer;
}
.addFormIput {
  margin-bottom: 20px;
}
.addFormIput input {
  margin-left: 30px;
}

.buttonsContainer {
  text-align: center;
}

@media (max-width: 1199px) {
  .addFormContainer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .addFormContainer {
    height: 90vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .closeBtn {
    top: 15px;
    right: 10px;
  }
  .addFormIput input {
    margin-left: 0;
  }
}
