.card {
  position: relative;
  width: 295px;
  height: 350px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px 0px #0000001a;
}

.wraper:hover .content,
.wraper:hover::after {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 285px;
  display: block;
  content: '';
}

.svgHeart {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 14px;
  height: 14px;
  z-index: 1;
  transition: var(--animation-timing);
  fill: var(--white-color);
}
.svgHeart:hover {
  cursor: pointer;
  fill: var(--main-color);
  z-index: 1;
}
.svgFullscreen {
  position: absolute;
  bottom: 90px;
  right: 10px;
  width: 25px;
  height: 25px;
  z-index: 1;
  transition: var(--animation-timing);
  fill: var(--white-color);
}
.svgFullscreen:hover {
  cursor: pointer;
  fill: var(--main-color);
}

.title {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 19px;
  font-weight: 300;
  font-size: 12px;
  color: var(--bold-text-color);
}

.oldPrise {
  color: var(--burder-color);
  text-decoration: line-through;
  font-weight: 700;
  font-size: 14px;
  line-height: 16, 5px;
}

.price {
  padding: 0;
  margin: 0;
  padding-top: 4px;
  padding-left: 19px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16, 5px;
}
.image {
  width: 295px;
  height: 275px;
}

/* .image:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} */

.isHidden {
  visibility: hidden;
}

/* .card {
  padding: 0 15px;
  color: #fff;
  width: 33.333%;
  margin-bottom: 30px;
} */

/* .cardInner:hover .content,
.cardInner:hover::before {
  opacity: 1;
} */

/* .content {
  padding-bottom: 20px;
} */
