.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: none;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.normalCarousel {
  width: 380px;
  height: 470px;
}
.normalCarousel img {
  width: 380px;
  height: auto;
}

.title {
  margin-bottom: 5px;
  font-weight: 500;
}
.price {
  font-weight: 500;
  margin-bottom: 40px;
}
.productCode {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--burder-color);

  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
.dataFrom {
  color: var(--burder-color);
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
.sellerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;

  max-width: 190px;
  max-height: 60px;
  border: 1px solid var(--main-color);
}
.primaryBtn {
  width: 255px;
  height: 60px;
}
.name {
  display: flex;
}
.hardIconBtn {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}
.hardIconBtn:hover {
  color: var(--main-color);
}
.hardIconBtn:hover svg {
  fill: var(--main-color);
}

.description {
  width: 340px;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: var(--sub-title-color);
}
.funtion {
  display: flex;
  justify-content: space-between;
  width: 266px;
}
.titleMobile {
  display: none;
}
.mobileCarousel {
  display: none;
}
.mobileCarousel button {
  display: none;
}
@media (max-width: 1199px) {
  .content {
    padding: 30px;
  }
  .description {
    width: 300px;
  }
  .funtion {
    width: 240px;
  }
}
@media (max-width: 767px) {
  .authCard {
    height: 100vh;
    overflow: scroll;
  }
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .normalCarousel {
    display: none;
  }
  .titleMobile {
    display: flex;
    flex-direction: column;
  }
  .titleNormal {
    display: none;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 250px;
  }
  .funtion {
    width: 220px;
  }

  .mobileCarousel {
    display: block;
    width: 281px;
  }
  .mobileCarousel img {
    width: 281px;
    height: auto;
  }
  .mobileCarousel button {
    display: block;
    width: 5px;
    height: 5px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .price {
    margin-bottom: 10px;
  }
}
