.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover .list {
  opacity: 1;
  transform: translateY(100%);
  transition: var(--animation-timing);
  z-index: 1;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 60px;
  height: 70px; */
  margin-left: 20px;
  padding: 10px;
  border-left: 1px solid var(--inactive-color);
}

.button {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  color: var(--bold-text-color);
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
.list {
  position: absolute;
  top: -57px;
  left: -42px;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 206px;
  padding: 20px;
  background: var(--inactive-color);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
  opacity: 0;
  list-style: none;
  transform: translateY(0);
  transition: var(--animation-timing);
}

.list li:not(:last-child) {
  margin-bottom: 20px;
}

.list li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.buttonContainerMobile {
  display: none;
}
.logOutMobile {
  display: none;
}

@media (max-width: 768px) {
  .list {
    top: -60px;
    left: -65px;
    width: 152px;
  }

  .title {
    display: none;
  }

  .buttonContainer {
    display: none;
  }

  .container {
    height: 60px;
    width: 40px;
  }
  .appBarListMobile {
    display: flex;
  }
  .logOutMobile {
    display: flex;
    position: absolute;
    top: 53px;
    left: 94px;
  }
}

@media (max-width: 460px) {
  .dropMenu {
    position: relative;
  }
  .list {
    top: -100px;
    left: -146px;
    width: 112px;
  }
} ;
