.authNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.search {
  border: none;
  background: transparent;
  margin-left: 24px;
  cursor: pointer;
}

.search:hover svg {
  fill: var(--main-color);
}
.logo {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bold-text-color);
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.logo:hover {
  color: var(--main-color);
}

.userMenu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.button {
  margin-left: 20px;
  min-width: 230px;
  height: 70px;
  text-transform: uppercase;
}
.button:hover {
  text-transform: uppercase;
}
.buttonMobile {
  display: none;
}

@media (max-width: 480px) {
  .buttonMobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 200px;
    right: 17px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .button {
    display: none;
  }
}
